.borderz{
    margin:10px;
}


.col-lg-8 {
margin-left: 300px;
}

h1{
 
 justify-content: center;
    /* margin-left: 300px; */
    display: flex;
}

.col-lg-2{
    justify-content: center;
    /* margin-left: 300px; */
    display: flex;
}

H4{
margin: 20PX;
justify-content: center;
display: flex;
}
